body {
    font-family: $text;
    color: $black--soft;
}

a {
    text-decoration: none;
    color: $black;
    transition: color 0.2s;
    &:hover {
        color: $primary;
    }
}

strong {
    font-weight: 700;
}
