.circle {
    fill: $primary;
}

.average-line--median {
    // fill: $red;
    fill: $orange--light;
}
.average-line--mean {
    fill: rgba($red, 0.2);
}
.average-line--mode {
    fill: rgba($red, 0.5);
}

.average-line__text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1rem;
    font-weight: 700;
}
.average-line__text--median {
    fill: rgba($orange--light, 0.8);
}
.average-line__text--mean {
    fill: rgba($red, 0.2);
    fill: $orange--light;
    transform: translateX(10em);
}
.average-line__text--mode {
    fill: rgba($red, 0.5);
    transform: translateX(5em);
}
