.year__wrapper {
    padding: 2em;
    display: flex;
    // height: 100%;
    // height: 100vh;
}
.year__meta {
    width: 30%;
    padding-right: 2em;
}
.year__title {
    font-size: 4em;
    color: $primary;
}
.year__meta-value {
    font-size: 2em;
    color: $primary;
}
.year__graphs {
    width: 70%;
    // height: 24em;
    // background: rgba($red, 0.3);
}
