.year__wrapper {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    // height: 100%;
    // height: 100vh;
}
.year__meta {
    width: 30%;
    padding-right: 2em;
}
.year__title {
    font-size: 4em;
    font-size: 15vw;
    color: rgba($primary, 0.3);
    font-weight: 700;
    line-height: 0.85;
    // font-family: $utility;
}
.year__meta-value {
    font-size: 2em;
    font-weight: 700;
    color: $primary;
}
.year__graphs {
    width: 70%;
    // height: 24em;
    // background: rgba($red, 0.3);
}

.year__divider {
    width: 100%;
    // height: 2em;
    margin-bottom: 2em;
    // background: rgba($red, 0.2);
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 80%;
        height: 0.1rem;
        background: $primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    &:after {
        content: '';
        display: block;
        width: 5rem;
        height: 2rem;
        background: $white;
        // box-shadow: $white 0 0 0 0.5em;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}

.year__divider-icon {
    display: block;
    width: 3em;
    height: 6em;
    fill: $primary;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    padding-left: 0.2em;
}
