// COLOURS

// "The New Defaults"
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$grey: #aaa;
$black: #111;

// Project Colours
$black: #4d4d4d;
$black--soft: #666;
$white: #fdfdfa;
$cream: #efeeeb;
$grey: #dad8d2;
$grey--dark: darken($grey, 20%);
$primary: #00b7c6;

$orange: #c65100; // #793200;
$orange--light: #ff7c28;
$orange--dark: #c65100;
$primary--dark: #007079;
// $primary_light:#b2e9ea;
$primary--mid: rgba($primary, 0.8);
$primary--light: #e4f6f5; //rgba($primary,.1);//#19EEFF;

// Selection Colours
::selection {
    color: $white;
    background: $black;
}
a::selection {
    color: $black;
    background: $white;
}
